body { background-color:#eeeeee; 
       background-color:#ffffff;
}
#master { position:absolute;
          left:10vw;top:5vh;
          margin-left:-220px;
          margin-top:-220px;
        }

.k { position:absolute;
     width:600px;height:600px; 
     opacity:0.9;}
.a090 { -moz-transform:    rotate(90deg);
        -webkit-transform: rotate(90deg); 

}
.a180 { -moz-transform:    rotate(180deg);
        -webkit-transform: rotate(180deg); 
}
.a270 { -moz-transform:    rotate(-90deg);
        -webkit-transform: rotate(-90deg);
}
.flip { -moz-transform:    scaleX(-1);
        -webkit-transform: scaleX(-1);
}
.flip.a090 { -moz-transform:    scaleX(-1) rotate(90deg);
             -webkit-transform: scaleX(-1) rotate(90deg);
}
.flip.a180 { -moz-transform:    scaleX(-1) rotate(180deg);
             -webkit-transform: scaleX(-1) rotate(180deg);
}
.flip.a270 { -moz-transform:    scaleX(-1) rotate(-90deg);
             -webkit-transform: scaleX(-1) rotate(-90deg);
}
.flop { -moz-transform:    scaleY(-1);
        -webkit-transform: scaleY(-1);
}
.flop.a090 { -moz-transform:    scaleY(-1) rotate(90deg);
             -webkit-transform: scaleY(-1) rotate(90deg);
}
.flop.a180 { -moz-transform:    scaleY(-1) rotate(180deg);
             -webkit-transform: scaleY(-1) rotate(180deg);
}
.flop.a270 { -moz-transform:    scaleY(-1) rotate(-90deg);
             -webkit-transform: scaleY(-1) rotate(-90deg);
}

.b.cycliste.start { background-color:#ff0000;opacity:0.08; }
.b.cycliste.start:hover { background-color:#0000ff;opacity:0.2; }
.b.cycliste { background-color:#ffff00;opacity:0.05; }
.b.cycliste:hover { background-color:#ff9900;opacity:0.15; }
.b.svgsrc { width:40px;height:40px; }
.b.svgsrc:hover { background-color:#00ff00;opacity:0.1; }
body.delete .b.cycliste:hover { opacity:0.5!important;
                                background-color:#ff0000!important; }
.k + .b.svgsrc { width:127px;height:127px; }

.b > a { position:absolute;
         width:100%;height:100%;
         top:0;left:0;
         text-decoration: none;
      /* Makes sure the link doesn't get underlined */
         z-index: 2006;
      /* raises anchor tag above everything else in div */
         background-color: white;
      /* workaround to make clickable in IE */
         opacity: 0;
      /* workaround to make clickable in IE */
         filter: alpha(opacity=0);
      /* workaround to make clickable in IE */ }

a,button { position:relative;
           z-index: 2000; }
a.ts { font-size:11px;text-decoration:none;
       padding: 3px  3px  3px  3px;
       margin: -3px -3px -3px -3px; }
a.ts:hover { background-color:#0000ff;color:#ffffff; }

/*
CSS="";STEP=135;V="0";
for R in `seq -w 50`; do
CSS="$CSS .r$R{top:${V}px}";
V=`expr $V + $STEP`;done; 
echo $CSS | fold -s -w 60
*/

.r01{top:0px}    .r02{top:127px}  .r03{top:254px} 
.r04{top:381px}  .r05{top:508px}  .r06{top:635px} 
.r07{top:762px}  .r08{top:889px}  .r09{top:1016px} 
.r10{top:1143px} .r11{top:1270px} .r12{top:1397px} 
.r13{top:1524px} .r14{top:1651px} .r15{top:1778px} 
.r16{top:1905px} .r17{top:2032px} .r18{top:2159px} 
.r19{top:2286px} .r20{top:2413px} .r21{top:2540px} 
.r22{top:2667px} .r23{top:2794px} .r24{top:2921px} 
.r25{top:3048px} .r26{top:3175px} .r27{top:3302px} 
.r28{top:3429px} .r29{top:3556px} .r30{top:3683px} 
.r31{top:3810px} .r32{top:3937px} .r33{top:4064px} 
.r34{top:4191px} .r35{top:4318px} .r36{top:4445px} 
.r37{top:4572px} .r38{top:4699px} .r39{top:4826px} 
.r40{top:4953px} .r41{top:5080px} .r42{top:5207px} 
.r43{top:5334px} .r44{top:5461px} .r45{top:5588px} 
.r46{top:5715px} .r47{top:5842px} .r48{top:5969px} 
.r49{top:6096px} .r50{top:6223px}

.c01{left:0px}    .c02{left:127px}  .c03{left:254px} 
.c04{left:381px}  .c05{left:508px}  .c06{left:635px} 
.c07{left:762px}  .c08{left:889px}  .c09{left:1016px} 
.c10{left:1143px} .c11{left:1270px} .c12{left:1397px} 
.c13{left:1524px} .c14{left:1651px} .c15{left:1778px} 
.c16{left:1905px} .c17{left:2032px} .c18{left:2159px} 
.c19{left:2286px} .c20{left:2413px} .c21{left:2540px} 
.c22{left:2667px} .c23{left:2794px} .c24{left:2921px} 
.c25{left:3048px} .c26{left:3175px} .c27{left:3302px} 
.c28{left:3429px} .c29{left:3556px} .c30{left:3683px} 
.c31{left:3810px} .c32{left:3937px} .c33{left:4064px} 
.c34{left:4191px} .c35{left:4318px} .c36{left:4445px} 
.c37{left:4572px} .c38{left:4699px} .c39{left:4826px} 
.c40{left:4953px} .c41{left:5080px} .c42{left:5207px} 
.c43{left:5334px} .c44{left:5461px} .c45{left:5588px} 
.c46{left:5715px} .c47{left:5842px} .c48{left:5969px} 
.c49{left:6096px} .c50{left:6223px}

.b { position:absolute;z-index:2005;
     width:127px;height:127px;opacity:0;}

.b.r01{top:239px}  .b.r02{top:366px}  .b.r03{top:493px} 
.b.r04{top:620px}  .b.r05{top:747px}  .b.r06{top:874px} 
.b.r07{top:1001px} .b.r08{top:1128px} .b.r09{top:1255px} 
.b.r10{top:1382px} .b.r11{top:1509px} .b.r12{top:1636px} 
.b.r13{top:1763px} .b.r14{top:1890px} .b.r15{top:2017px} 
.b.r16{top:2144px} .b.r17{top:2271px} .b.r18{top:2398px} 
.b.r19{top:2525px} .b.r20{top:2652px} .b.r21{top:2779px} 
.b.r22{top:2906px} .b.r23{top:3033px} .b.r24{top:3160px} 
.b.r25{top:3287px} .b.r26{top:3414px} .b.r27{top:3541px} 
.b.r28{top:3668px} .b.r29{top:3795px} .b.r30{top:3922px} 
.b.r31{top:4049px} .b.r32{top:4176px} .b.r33{top:4303px} 
.b.r34{top:4430px} .b.r35{top:4557px} .b.r36{top:4684px} 
.b.r37{top:4811px} .b.r38{top:4938px} .b.r39{top:5065px} 
.b.r40{top:5192px} .b.r41{top:5319px} .b.r42{top:5446px} 
.b.r43{top:5573px} .b.r44{top:5700px} .b.r45{top:5827px} 
.b.r46{top:5954px} .b.r47{top:6081px} .b.r48{top:6208px} 
.b.r49{top:6335px} .b.r50{top:6462px}

.b.c01{left:239px}  .b.c02{left:366px}  .b.c03{left:493px} 
.b.c04{left:620px}  .b.c05{left:747px}  .b.c06{left:874px} 
.b.c07{left:1001px} .b.c08{left:1128px} .b.c09{left:1255px} 
.b.c10{left:1382px} .b.c11{left:1509px} .b.c12{left:1636px} 
.b.c13{left:1763px} .b.c14{left:1890px} .b.c15{left:2017px} 
.b.c16{left:2144px} .b.c17{left:2271px} .b.c18{left:2398px} 
.b.c19{left:2525px} .b.c20{left:2652px} .b.c21{left:2779px} 
.b.c22{left:2906px} .b.c23{left:3033px} .b.c24{left:3160px} 
.b.c25{left:3287px} .b.c26{left:3414px} .b.c27{left:3541px} 
.b.c28{left:3668px} .b.c29{left:3795px} .b.c30{left:3922px} 
.b.c31{left:4049px} .b.c32{left:4176px} .b.c33{left:4303px} 
.b.c34{left:4430px} .b.c35{left:4557px} .b.c36{left:4684px} 
.b.c37{left:4811px} .b.c38{left:4938px} .b.c39{left:5065px} 
.b.c40{left:5192px} .b.c41{left:5319px} .b.c42{left:5446px} 
.b.c43{left:5573px} .b.c44{left:5700px} .b.c45{left:5827px} 
.b.c46{left:5954px} .b.c47{left:6081px} .b.c48{left:6208px} 
.b.c49{left:6335px} .b.c50{left:6462px}

